:root {
  --mouse-x: 0;
  --mouse-y: 0;
  --mouse-x-normalized: calc(((var(--mouse-x) * 2) - 1));
  --mouse-y-normalized: calc(((var(--mouse-y) * 2) - 1));
  --shadow-distance: 40px;
  --shadow-x: calc(var(--mouse-x-normalized) * var(--shadow-distance));
  --shadow-y: calc(var(--mouse-y-normalized) * var(--shadow-distance));
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

h1 {
  text-shadow: calc(var(--shadow-x)) calc(var(--shadow-y)) 0 red,
    calc(var(--shadow-x)) calc(var(--shadow-y) * -1) 0 cyan,
    calc(var(--shadow-x) * -1) calc(var(--shadow-y) * -1) 0 yellow,
    calc(var(--shadow-x) * -1) calc(var(--shadow-y)) 0 lime;
  font-size: 100px;
}

.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
