:root {
  --primary-color: #ffc600;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background: var(--primary-color);
  font-family: 'Helvetica Neue';
  font-size: 20px;
  font-weight: 200;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  width: 100%;
  padding: 20px;
}

.search-form {
  max-width: 400px;
  margin: 50px auto;
}

.search {
  text-align: center;
  border: 10px solid #f7f7f7;
  outline: 0;
  margin: 0;
  width: 120%;
  position: relative;
  left: -10%;
  top: 10px;
  z-index: 2;
  border-radius: 5px;
  font-size: 40px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), inset 0 0 2px rgba(0, 0, 0, 0.2);
}

.search:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), inset 0 0 8px var(--primary-color);
}

.suggestions > li {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #d8d8d8;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background 0.2s;
}

.suggestions > li:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  background-image: linear-gradient(to bottom, #ffffff 0%, #efefef 100%);
}

.suggestions > li:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(3px);
  background-image: linear-gradient(to top, #ffffff 0%, #efefef 100%);
}

.population {
  font-size: 15px;
}

.highlight {
  background-color: var(--primary-color);
}
